a:hover {
    text-decoration: none;
}

body {
    background: #171D25;
}

a {
    text-decoration: none;
}

/* header:sub-menu 주석 시작 */
.sub-menu * {
    margin-right: 5px;
    margin-bottom: 5px;
}

.sub-menu a {
    color: rgb(122, 134, 185);
    font-size: 20px;
}

.steam-icon {
    height: 20px;
    margin-right: 0px;
}

/* header:sub-menu 주석 끝 */

/* header:main-menu 주석 시작 */
.main-menu {
    margin-top: 10px;
}

.main-menu * {
    margin-right: 15px;
}

.main-menu a {
    font-size: 30px;
    color: rgb(224, 214, 214);
}

.main-menu a:hover {
    color: rgb(62, 97, 170);
}

/* header:main-menu 주석 끝 */

/* main 주석 시작*/
main {
    display: flex;
    margin-top: 10px;

    background: #171D25;

    width: 100%;
    height: 100%;
}

/* main 주석 끝 */

.game-list {
    flex: 1;
    margin-right: 10px;

    background: #242930;
}

/* game-list 하위 요소들 시작 */
.categories {
    margin-top: 10px;
    margin-bottom: 3px;
    color: #B6CEE3;
    display: inline-block;
}

.game {
    margin-left: 15px;
    margin-bottom: 3px;
    color: #9097A4;
    display: inline-block;
}

/* game-list 하위 요소들 끝 */

/* 게임 목록 시작 */
/* ChatGPT 긁어온 스타일 시작 */
.input-wrapper {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 5px;
    background-color: #333;
}

.search-icon {
    margin-right: 8px;
    color: #fff;
    font-size: 1.2em;
}

.search-input {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    flex: 1;
}

/* ChatGPT 긁어온 스타일 끝 */
/* 게임 목록 끝 */

/* game-content CSS 시작 */
.game-content {
    flex: 5;
    background: #242930;

    padding-left: 20px;
    padding-top: 20px;
}

.game-content * {
    margin-bottom: 15px;
}

.game-section-item {
    color: #DDDDD8;
    font-size: 25px;

    display: block;
    margin-bottom: 10px
}

.game-section {
    display: flex;
}

.game-thumbnail {
    margin-right: 30px;
}

.game-thumbnail > img {
    width: 300px;
    height: 240px;
    margin-bottom: 5px;

    object-fit: contain;
}

.game-thumbnail > a {
    color: #DDDDD8;
}

.game-section-recent {
    color: #DDDDD8;
    font-size: 25px;

    display: block;
    margin-top: 10px
}

.unplayed-recommendations {
    color: #DDDDD8;
}

/* game-content CSS 끝 */